openapi: 3.1.3

info:
  title: Nox API Documentation
  version: 0.0.1
  contact:
    name: Nox Team
    url: https://github.com/AtelierVR
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  description: |-
    The Nox API provides comprehensive functionality for managing multiplayer game experiences, including user authentication, world management, instance control, and social features.

servers:
  - url: https://nox.hactazia.fr/api
    description: Production server

tags:
  - name: users
    description: Users management and profile operations
  - name: authentication
    description: Authentication (login, register, logout)
  - name: sessions
    description: Session management
  - name: integrity
    description: Integrity token verification for server-to-server communication
  - name: avatars
    description: Avatar management
  - name: worlds
    description: World management
  - name: instances
    description: Instance management
  - name: relations
    description: User relations (follow/unfollow)
  - name: notifications
    description: Notifications management
  - name: presence
    description: User presence and location
  - name: server
    description: Server information
  - name: relays
    description: Relay server management (admin only)

paths:
  /users:
    get:
      operationId: searchUsers
      tags:
        - users
      summary: Search users
      description: |-
        Search for users by query string or specific user IDs. This endpoint supports pagination and can search by:
        - Text query matching username or display name
        - Specific user IDs or identifiers

        If authenticated, the response will include relationship information between the requesting user and each result.
      parameters:
        - name: query
          in: query
          required: false
          description: Text query to search for in usernames and display names
          schema:
            type: string
            example: "hact"
        - name: id
          in: query
          required: false
          description: Specific user ID or identifier to search for (can be array)
          schema:
            oneOf:
              - type: array
                items:
                  type: string
                example: []
              - type: string
                example: ""
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return (1-100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
            example: 10
        - name: offset
          in: query
          required: false
          description: Number of results to skip for pagination
          schema:
            type: integer
            minimum: 0
            default: 0
            example: 0
      responses:
        "200 - OK":
          description: Users search completed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/UserSearchResult"
                    required:
                      - data
                  - type: object
                    example:
                      request: "/api/users?query=hact&limit=10"

  /users/@me:
    get:
      operationId: fetchCurrentUser
      tags:
        - users
      summary: Get current user
      description: |-
        Retrieve the current authenticated user's profile information. This endpoint requires authentication with a valid Bearer token.

        Returns extended user information including email, verification status, 2FA status, and creation date.
      security:
        - BearerAuth: []
      responses:
        "200 - OK":
          description: Current user profile retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/UserMe"
                    required:
                      - data
                  - type: object
                    example:
                      request: "/api/users/@me"
        "401 - NotLogged":
          description: Unauthorized - user not logged in or invalid token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotLogged"
                  - type: object
                    example:
                      request: "/api/users/@me"
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UserNotFound"
                  - type: object
                    example:
                      request: "/api/users/@me"
    post:
      operationId: updateCurrentUser
      tags:
        - users
      summary: Update current user
      description: |-
        Update the profile of the currently authenticated user. Some sensitive changes (such as email or password) may require 2FA verification. If 2FA is required, the API will respond with a 428 and ErrorCodes.VerificationRequired.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserMe"
      responses:
        "200 - OK":
          description: User profile updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/UserMe"
                    required:
                      - data
                  - type: object
                    example:
                      request: "/api/users/@me"
        "401 - NotLogged":
          description: Unauthorized - user not logged in or invalid token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotLogged"
                  - type: object
                    example:
                      request: "/api/users/@me"
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UserNotFound"
                  - type: object
                    example:
                      request: "/api/users/@me"
        "401 - UnAuthorized":
          description: Unauthorized - user not authorized to perform this action
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UnAuthorized"
                  - type: object
                    example:
                      request: "/api/users/@me"
        "409 - AlreadyExists":
          description: Conflict with other user data
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/AlreadyExists"
                  - type: object
                    example:
                      request: "/api/users/@me"
        "400 - InvalidField":
          description: Bad request due to invalid field values
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InvalidField"
                  - type: object
                    example:
                      request: "/api/users/@me"
        "428 - VerificationRequired":
          description: Additional verification required for sensitive changes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/VerificationRequired"
                  - type: object
                    example:
                      request: "/api/users/@me"

  /users/{search}:
    get:
      operationId: fetchUser
      tags:
        - users
      summary: Get user
      description: |-
        Retrieve a user by their ID or username. The search parameter can be either:
        - A numeric user ID (e.g., "123")
        - A username (e.g., "hactazia")

        If authenticated, the response will include relationship information between the requesting user and the target user.
      parameters:
        - name: search
          in: path
          required: true
          description: User ID or username to search for
          schema:
            oneOf:
              - type: integer
                minimum: 1
                description: User ID
              - type: string
                pattern: "^[a-z0-9_.-]{3,16}$"
                description: Username
            examples:
              - "hactazia"
              - 123
      responses:
        "200 - OK":
          description: User found successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/User"
                    required:
                      - data
                  - type: object
                    example:
                      request: "/api/users/hactazia"
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UserNotFound"
                  - type: object
                    example:
                      request: "/api/users/hactazia"

  /users/@me/thumbnail:
    get:
      operationId: fetchCurrentUserThumbnail
      tags:
        - users
      summary: Get current user's thumbnail
      description: |-
        Retrieve the profile picture (thumbnail) of the currently authenticated user. Returns the image file directly if available, or a redirect to an external URL if the thumbnail is remote.
      security:
        - BearerAuth: []
      responses:
        "200 - OK":
          description: The user's thumbnail image
          content:
            image/*:
              schema:
                $ref: "#/components/schemas/SquareImage"
          headers:
            "Content-Type":
              description: The MIME type of the image
              schema:
                type: string
                example: "image/png"
            "Content-Disposition":
              description: How the image should be displayed (inline or attachment)
              schema:
                type: string
                example: "inline; filename=thumbnail-123.png"
            "X-File-Hash":
              description: Hash of the file for integrity checks
              schema:
                type: string
                example: "30767347fcb5e38b967f622324383b88bdedf2081d7b1f1557717f178d74d171"
            "Content-Length":
              description: Size of the image file in bytes
              schema:
                type: integer
                example: 2007912
        "401 - NotLogged":
          description: Unauthorized - user not logged in or invalid token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotLogged"
                  - type: object
                    example:
                      request: "/api/users/@me/thumbnail"
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UserNotFound"
                  - type: object
                    example:
                      request: "/api/users/@me/thumbnail"
        "404 - NotFound":
          description: Thumbnail not found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotFound"
                  - type: object
                    example:
                      request: "/api/users/@me/thumbnail"
        "301 - Redirect":
          description: Redirect to external thumbnail URL
          headers:
            Location:
              description: The URL of the external thumbnail
              schema:
                type: string
                format: uri
    post:
      operationId: updateCurrentUserThumbnail
      tags:
        - users
      summary: Update current user's thumbnail
      description: |-
        Update the profile picture (thumbnail) of the currently authenticated user. The image must be a valid PNG, JPEG, or GIF file.
        The thumbnail must be a square image (1:1 aspect ratio).
        If the thumbnail is updated successfully, the response will work like a GET request to the same endpoint, returning the new thumbnail image.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The new thumbnail image file
              required:
                - file
      responses:
        "200 - OK":
          description: Thumbnail updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SquareImage"
                    required:
                      - data
                  - type: object
                    example:
                      request: "/api/users/@me/thumbnail"
        "401 - NotLogged":
          description: Unauthorized - user not logged in or invalid token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotLogged"
                  - type: object
                    example:
                      request: "/api/users/@me/thumbnail"
        "400 - InvalidField":
          description: Bad request due to invalid field values
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InvalidField"
                  - type: object
                    example:
                      request: "/api/users/@me/thumbnail"
        "401 - UnAuthorized":
          description: Unauthorized - user not authorized to perform this action
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UnAuthorized"
                  - type: object
                    example:
                      request: "/api/users/@me/thumbnail"
        "500 - InternalError":
          description: Internal server error occurred while processing the request
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InternalError"
                  - type: object
                    example:
                      request: "/api/users/@me/thumbnail"

  /users/{search}/thumbnail:
    get:
      operationId: fetchUserThumbnail
      tags:
        - users
      summary: Get user thumbnail
      description: |-
        Retrieve the profile picture (thumbnail) of a user by their ID or username. Returns the image file directly if available, or a redirect to an external URL if the thumbnail is remote.
      parameters:
        - name: search
          in: path
          required: true
          description: User ID or username to search for
          schema:
            oneOf:
              - type: integer
                minimum: 1
                description: User ID
              - type: string
                pattern: "^[a-z0-9_.-]{3,16}$"
                description: Username
            examples:
              - "hactazia"
              - 123
      responses:
        "200 - OK":
          description: The user's thumbnail image
          content:
            image/*:
              schema:
                $ref: "#/components/schemas/SquareImage"
          headers:
            "Content-Type":
              description: The MIME type of the image
              schema:
                type: string
                example: "image/png"
            "Content-Disposition":
              description: How the image should be displayed (inline or attachment)
              schema:
                type: string
                example: "inline; filename=thumbnail-123.png"
            "X-File-Hash":
              description: Hash of the file for integrity checks
              schema:
                type: string
                example: "30767347fcb5e38b967f622324383b88bdedf2081d7b1f1557717f178d74d171"
            "Content-Length":
              description: Size of the image file in bytes
              schema:
                type: integer
                example: 2007912
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UserNotFound"
                  - type: object
                    example:
                      request: "/api/users/hactazia/thumbnail"
        "301 - Redirect":
          description: Redirect to external thumbnail URL
          headers:
            Location:
              description: The URL of the external thumbnail
              schema:
                type: string
                format: uri

  /users/@me/banner:
    get:
      operationId: fetchCurrentUserBanner
      tags:
        - users
      summary: Get current user's banner
      description: |-
        Retrieve the banner image of the currently authenticated user. Returns the image file directly if available, or a redirect to an external URL if the banner is remote.
      security:
        - BearerAuth: []
      responses:
        "200 - OK":
          description: The user's banner image
          content:
            image/*:
              schema:
                $ref: "#/components/schemas/LargeImage"
          headers:
            "Content-Type":
              description: The MIME type of the image
              schema:
                type: string
                example: "image/png"
            "Content-Disposition":
              description: How the image should be displayed (inline or attachment)
              schema:
                type: string
                example: "inline; filename=banner-123.png"
            "X-File-Hash":
              description: Hash of the file for integrity checks
              schema:
                type: string
                example: "30767347fcb5e38b967f622324383b88bdedf2081d7b1f1557717f178d74d171"
            "Content-Length":
              description: Size of the image file in bytes
              schema:
                type: integer
                example: 2007912
        "401 - NotLogged":
          description: Unauthorized - user not logged in or invalid token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotLogged"
                  - type: object
                    example:
                      request: "/api/users/@me/banner"
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UserNotFound"
                  - type: object
                    example:
                      request: "/api/users/@me/banner"
        "404 - NotFound":
          description: Banner not found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotFound"
                  - type: object
                    example:
                      request: "/api/users/@me/banner"
        "301 - Redirect":
          description: Redirect to external banner URL
          headers:
            Location:
              description: The URL of the external banner
              schema:
                type: string
                format: uri
    post:
      operationId: updateCurrentUserBanner
      tags:
        - users
      summary: Update current user's banner
      description: |-
        Update the banner image of the currently authenticated user. The image must be a valid PNG, JPEG, or GIF file.
        The banner must be a large image (4:3 aspect ratio).
        If the banner is updated successfully, the response will work like a GET request to the same endpoint, returning the new banner image.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The new banner image file
              required:
                - file
      responses:
        "200 - OK":
          description: Banner updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/LargeImage"
                    required:
                      - data
                  - type: object
                    example:
                      request: "/api/users/@me/banner"
        "401 - NotLogged":
          description: Unauthorized - user not logged in or invalid token
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/NotLogged"
                  - type: object
                    example:
                      request: "/api/users/@me/banner"
        "400 - InvalidField":
          description: Bad request due to invalid field values
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InvalidField"
                  - type: object
                    example:
                      request: "/api/users/@me/banner"
        "401 - UnAuthorized":
          description: Unauthorized - user not authorized to perform this action
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UnAuthorized"
                  - type: object
                    example:
                      request: "/api/users/@me/banner"
        "500 - InternalError":
          description: Internal server error occurred while processing the request
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InternalError"
                  - type: object
                    example:
                      request: "/api/users/@me/banner"

  /users/{search}/banner:
    get:
      operationId: fetchUserBanner
      tags:
        - users
      summary: Get user banner
      description: |-
        Retrieve the banner image of a user by their ID or username. Returns the image file directly if available, or a redirect to an external URL if the banner is remote.
      parameters:
        - name: search
          in: path
          required: true
          description: User ID or username to search for
          schema:
            oneOf:
              - type: integer
                minimum: 1
                description: User ID
              - type: string
                pattern: "^[a-z0-9_.-]{3,16}$"
                description: Username
            examples:
              - "hactazia"
              - 123
      responses:
        "200 - OK":
          description: The user's banner image
          content:
            image/*:
              schema:
                $ref: "#/components/schemas/LargeImage"
          headers:
            "Content-Type":
              description: The MIME type of the image
              schema:
                type: string
                example: "image/png"
            "Content-Disposition":
              description: How the image should be displayed (inline or attachment)
              schema:
                type: string
                example: "inline; filename=banner-123.png"
            "X-File-Hash":
              description: Hash of the file for integrity checks
              schema:
                type: string
                example: "30767347fcb5e38b967f622324383b88bdedf2081d7b1f1557717f178d74d171"
            "Content-Length":
              description: Size of the image file in bytes
              schema:
                type: integer
                example: 2007912
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UserNotFound"
                  - type: object
                    example:
                      request: "/api/users/hactazia/banner"
        "301 - Redirect":
          description: Redirect to external banner URL
          headers:
            Location:
              description: The URL of the external banner
              schema:
                type: string
                format: uri

  /users/@me/sessions:
    get:
      operationId: fetchCurrentUserSessions
      tags:
        - sessions
      summary: Get current user's sessions
      description: |-
        Retrieve the list of active sessions for the currently authenticated user. This includes information about each session such as device type, IP address, and last activity time.
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200 - OK":
          description: Current user's sessions retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SessionListResponse"
                    required:
                      - data
                  - type: object
                    example:
                      request: "/api/users/@me/sessions"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
    delete:
      operationId: deleteAllSessions
      tags:
        - sessions
      summary: Delete all sessions
      description: |-
        Delete all sessions for the current user, effectively logging them out from all devices.
      security:
        - BearerAuth: []
      responses:
        "200 - OK":
          description: All sessions deleted
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          logout:
                            type: boolean
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"

  /users/@me/session:
    get:
      operationId: fetchCurrentSession
      tags:
        - sessions
      summary: Get current session
      description: |-
        Retrieve information about the current session.
      security:
        - BearerAuth: []
      responses:
        "200 - OK":
          description: Current session retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SessionDetail"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "404 - SessionNotFound":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionNotFound"

  /users/@me/sessions/{id}:
    get:
      operationId: fetchSession
      tags:
        - sessions
      summary: Get session by ID
      description: |-
        Retrieve a specific session by its ID.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200 - OK":
          description: Session retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SessionDetail"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "404 - SessionNotFound":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionNotFound"
    delete:
      operationId: deleteSession
      tags:
        - sessions
      summary: Delete session
      description: |-
        Delete a specific session by its ID.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200 - OK":
          description: Session deleted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          logout:
                            type: boolean
                            description: True if the deleted session was the current session
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "404 - SessionNotFound":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionNotFound"

  /auth/login:
    post:
      operationId: userLogin
      tags:
        - authentication
      summary: User login
      description: |-
        Authenticate a user with their username or id and password. If successful, a session cookie will be set for the user.
        If the user has 2FA enabled, they must provide a valid factor code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200 - OK":
          description: User logged in successfully
          headers:
            "Set-Cookie":
              description: Session cookie for the authenticated user
              schema:
                type: string
                example: "_uid=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AuthResponse"
                    required:
                      - data
                  - type: object
                    example:
                      request: "/api/auth/login"
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/UserNotFound"
                  - type: object
                    example:
                      request: "/api/auth/login"
        "400 - InvalidField":
          description: Bad request due to invalid field values
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InvalidField"
                  - type: object
                    example:
                      request: "/api/auth/login"
        "428 - VerificationRequired":
          description: Additional verification required for sensitive changes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/VerificationRequired"
                  - type: object
                    example:
                      request: "/api/auth/login"

  /auth/register:
    post:
      operationId: userRegister
      tags:
        - authentication
      summary: User registration
      description: |-
        Register a new user account. If successful, the user will be automatically logged in and a session cookie will be set.
        Registration may be disabled on some servers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "200 - OK":
          description: User registered and logged in successfully
          headers:
            "Set-Cookie":
              description: Session cookie for the authenticated user
              schema:
                type: string
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/AuthResponse"
                    required:
                      - data
        "400 - InvalidField":
          description: Bad request due to invalid field values
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidField"
        "403 - ServiceDisabled":
          description: Registration is disabled on this server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceDisabled"
        "409 - AlreadyExists":
          description: Username or email already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlreadyExists"

  /auth/logout:
    get:
      operationId: userLogout
      tags:
        - authentication
      summary: User logout
      description: |-
        Log out the current user and invalidate their session. Clears the session cookie.
      security:
        - BearerAuth: []
      responses:
        "200 - OK":
          description: User logged out successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          success:
                            type: boolean
                            example: true
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "404 - SessionNotFound":
          description: Session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionNotFound"

  /auth/{type}/send:
    get:
      operationId: sendVerificationCode
      tags:
        - authentication
      summary: Send verification code
      description: |-
        Send a verification code to the user via the specified method (e.g., email).
        Used for 2FA verification during sensitive operations.
      security:
        - BearerAuth: []
      parameters:
        - name: type
          in: path
          required: true
          description: The verification method type
          schema:
            type: string
            enum: [email, totp]
      responses:
        "200 - OK":
          description: Verification code sent successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          success:
                            type: boolean
                          message:
                            type: string
                            example: "Verification code sent"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "500 - InternalError":
          description: Failed to send verification code
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalError"

  /relays/update:
    post:
      operationId: updateRelay
      tags:
        - relays
      summary: Update relay
      description: Update the relay information and instances.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IRUpdate'
      responses:
        '200':
          description: Relay updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelayUpdateResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Relay not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /relays/checkbearer:
    post:
      operationId: checkBearer
      tags:
        - relays
      summary: Check bearer token
      description: Check the validity of a bearer token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckBearerRequest'
      responses:
        '200':
          description: Bearer token checked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckBearerResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Relay not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Integrity endpoints
  /integrity/verify:
    post:
      operationId: verifyIntegrity
      tags:
        - integrity
      summary: Verify integrity token
      description: |-
        Verify an integrity token for server-to-server communication.
        Requires challenge authentication.
      security:
        - IntegrityAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IntegrityVerifyRequest"
      responses:
        "200 - OK":
          description: Integrity token verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
        "400 - InvalidField":
          description: Invalid field values
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvalidField"
        "401 - NotLogged":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"

  /integrity/make:
    post:
      operationId: makeServerIntegrity
      tags:
        - integrity
      summary: Create server integrity token
      description: |-
        Create an integrity token for a user on behalf of a server.
        Requires challenge authentication.
      security:
        - IntegrityAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: integer
                  description: The user ID to create integrity for
      responses:
        "200 - OK":
          description: Integrity token created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrityTokenResponse"
        "401 - NotLogged":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "404 - ServerNotFound":
          description: Server not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerNotFound"

  /users/@me/integrity:
    put:
      operationId: makeUserIntegrity
      tags:
        - integrity
      summary: Create user integrity token
      description: |-
        Create an integrity token for the current user to join a server.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - address
              properties:
                address:
                  type: string
                  description: The server address to create integrity for
      responses:
        "200 - OK":
          description: Integrity token created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrityTokenResponse"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFound"

  # Avatar endpoints
  /avatars:
    get:
      operationId: searchAvatars
      tags:
        - avatars
      summary: Search avatars
      description: |-
        Search for avatars by query string or specific IDs.
      parameters:
        - name: search
          in: query
          schema:
            type: string
          description: Text query to search avatars
        - name: ids
          in: query
          schema:
            type: string
          description: Comma-separated avatar IDs
        - name: tags
          in: query
          schema:
            type: string
          description: Comma-separated tags to filter by
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200 - OK":
          description: Avatars search completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AvatarSearchResult"
    put:
      operationId: createAvatar
      tags:
        - avatars
      summary: Create avatar
      description: |-
        Create a new avatar.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAvatarRequest"
      responses:
        "200 - OK":
          description: Avatar created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "401 - UnAuthorized":
          description: User not authorized to create avatars
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnAuthorized"
        "409 - AlreadyExists":
          description: Avatar with this ID already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlreadyExists"

  /avatars/{avatar_id}:
    get:
      operationId: fetchAvatar
      tags:
        - avatars
      summary: Get avatar
      description: |-
        Retrieve an avatar by ID.
      parameters:
        - name: avatar_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200 - OK":
          description: Avatar retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
        "404 - NotFound":
          description: Avatar not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
    post:
      operationId: updateAvatar
      tags:
        - avatars
      summary: Update avatar
      description: |-
        Update an existing avatar.
      security:
        - BearerAuth: []
      parameters:
        - name: avatar_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAvatarRequest"
      responses:
        "200 - OK":
          description: Avatar updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "401 - UnAuthorized":
          description: User not authorized to update this avatar
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnAuthorized"
        "404 - NotFound":
          description: Avatar not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
    delete:
      operationId: deleteAvatar
      tags:
        - avatars
      summary: Delete avatar
      description: |-
        Delete an avatar.
      security:
        - BearerAuth: []
      parameters:
        - name: avatar_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200 - OK":
          description: Avatar deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "401 - UnAuthorized":
          description: User not authorized to delete this avatar
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnAuthorized"
        "404 - NotFound":
          description: Avatar not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"

  /avatars/{avatar_id}/assets:
    get:
      operationId: fetchAvatarAssets
      tags:
        - avatars
      summary: Get avatar assets
      description: |-
        Retrieve all assets for an avatar.
      parameters:
        - name: avatar_id
          in: path
          required: true
          schema:
            type: integer
        - name: version
          in: query
          schema:
            type: string
          description: Filter by version (comma-separated)
        - name: engine
          in: query
          schema:
            type: string
          description: Filter by engine (comma-separated)
        - name: platform
          in: query
          schema:
            type: string
          description: Filter by platform (comma-separated)
        - name: empty
          in: query
          schema:
            type: boolean
          description: Show empty assets
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200 - OK":
          description: Avatar assets retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetListResponse"
    put:
      operationId: createAvatarAsset
      tags:
        - avatars
      summary: Create avatar asset
      description: |-
        Create a new asset for an avatar.
      security:
        - BearerAuth: []
      parameters:
        - name: avatar_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssetRequest"
      responses:
        "200 - OK":
          description: Asset created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Asset"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "409 - AlreadyExists":
          description: Asset already exists for this version/engine/platform
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlreadyExists"

  /avatars/{avatar_id}/assets/{asset_id}/file:
    get:
      operationId: downloadAvatarAssetFile
      tags:
        - avatars
      summary: Download avatar asset file
      description: |-
        Download the asset file for an avatar.
      parameters:
        - name: avatar_id
          in: path
          required: true
          schema:
            type: integer
        - name: asset_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200 - OK":
          description: Asset file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "404 - NotFound":
          description: Asset or file not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
    post:
      operationId: uploadAvatarAssetFile
      tags:
        - avatars
      summary: Upload avatar asset file
      description: |-
        Upload the asset file for an avatar.
      security:
        - BearerAuth: []
      parameters:
        - name: avatar_id
          in: path
          required: true
          schema:
            type: integer
        - name: asset_id
          in: path
          required: true
          schema:
            type: integer
        - name: x-file-hash
          in: header
          schema:
            type: string
          description: SHA256 hash of the file for verification
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200 - OK":
          description: File uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"

  /avatars/{avatar_id}/thumbnail:
    get:
      operationId: fetchAvatarThumbnail
      tags:
        - avatars
      summary: Get avatar thumbnail
      description: |-
        Retrieve the thumbnail image for an avatar.
      parameters:
        - name: avatar_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200 - OK":
          description: Thumbnail image
          content:
            image/*:
              schema:
                type: string
                format: binary
        "404 - NotFound":
          description: Avatar or thumbnail not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
    post:
      operationId: uploadAvatarThumbnail
      tags:
        - avatars
      summary: Upload avatar thumbnail
      description: |-
        Upload a thumbnail image for an avatar.
      security:
        - BearerAuth: []
      parameters:
        - name: avatar_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200 - OK":
          description: Thumbnail uploaded
          content:
            image/*:
              schema:
                type: string
                format: binary
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"

  # World endpoints
  /worlds:
    get:
      operationId: searchWorlds
      tags:
        - worlds
      summary: Search worlds
      description: |-
        Search for worlds by query string or specific IDs.
      parameters:
        - name: query
          in: query
          schema:
            type: string
          description: Text query to search worlds
        - name: id
          in: query
          schema:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
          description: World ID(s) to search for
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200 - OK":
          description: Worlds search completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorldSearchResult"
    put:
      operationId: createWorld
      tags:
        - worlds
      summary: Create world
      description: |-
        Create a new world.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorldRequest"
      responses:
        "200 - OK":
          description: World created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/World"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "401 - UnAuthorized":
          description: User not authorized to create worlds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnAuthorized"
        "409 - AlreadyExists":
          description: World with this ID already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlreadyExists"

  /worlds/{world_id}:
    get:
      operationId: fetchWorld
      tags:
        - worlds
      summary: Get world
      description: |-
        Retrieve a world by ID.
      parameters:
        - name: world_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200 - OK":
          description: World retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/World"
        "404 - NotFound":
          description: World not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
    post:
      operationId: updateWorld
      tags:
        - worlds
      summary: Update world
      description: |-
        Update an existing world.
      security:
        - BearerAuth: []
      parameters:
        - name: world_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWorldRequest"
      responses:
        "200 - OK":
          description: World updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/World"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "401 - UnAuthorized":
          description: User not authorized to update this world
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnAuthorized"
        "404 - NotFound":
          description: World not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
    delete:
      operationId: deleteWorld
      tags:
        - worlds
      summary: Delete world
      description: |-
        Delete a world.
      security:
        - BearerAuth: []
      parameters:
        - name: world_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200 - OK":
          description: World deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "401 - UnAuthorized":
          description: User not authorized to delete this world
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnAuthorized"
        "404 - NotFound":
          description: World not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"

  /worlds/{world_id}/assets:
    get:
      operationId: fetchWorldAssets
      tags:
        - worlds
      summary: Get world assets
      description: |-
        Retrieve all assets for a world.
      parameters:
        - name: world_id
          in: path
          required: true
          schema:
            type: integer
        - name: version
          in: query
          schema:
            type: string
          description: Filter by version (comma-separated)
        - name: engine
          in: query
          schema:
            type: string
          description: Filter by engine (comma-separated)
        - name: platform
          in: query
          schema:
            type: string
          description: Filter by platform (comma-separated)
        - name: empty
          in: query
          schema:
            type: boolean
          description: Show empty assets
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200 - OK":
          description: World assets retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorldAssetListResponse"
    put:
      operationId: createWorldAsset
      tags:
        - worlds
      summary: Create world asset
      description: |-
        Create a new asset for a world.
      security:
        - BearerAuth: []
      parameters:
        - name: world_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAssetRequest"
      responses:
        "200 - OK":
          description: Asset created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorldAsset"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "409 - AlreadyExists":
          description: Asset already exists for this version/engine/platform
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlreadyExists"

  /worlds/{world_id}/assets/{asset_id}/file:
    get:
      operationId: downloadWorldAssetFile
      tags:
        - worlds
      summary: Download world asset file
      description: |-
        Download the asset file for a world.
      parameters:
        - name: world_id
          in: path
          required: true
          schema:
            type: integer
        - name: asset_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200 - OK":
          description: Asset file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "404 - NotFound":
          description: Asset or file not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
    post:
      operationId: uploadWorldAssetFile
      tags:
        - worlds
      summary: Upload world asset file
      description: |-
        Upload the asset file for a world.
      security:
        - BearerAuth: []
      parameters:
        - name: world_id
          in: path
          required: true
          schema:
            type: integer
        - name: asset_id
          in: path
          required: true
          schema:
            type: integer
        - name: x-file-hash
          in: header
          schema:
            type: string
          description: SHA256 hash of the file for verification
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200 - OK":
          description: File uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"

  /worlds/{world_id}/thumbnail:
    get:
      operationId: fetchWorldThumbnail
      tags:
        - worlds
      summary: Get world thumbnail
      description: |-
        Retrieve the thumbnail image for a world.
      parameters:
        - name: world_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200 - OK":
          description: Thumbnail image
          content:
            image/*:
              schema:
                type: string
                format: binary
        "404 - NotFound":
          description: World or thumbnail not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"
    post:
      operationId: uploadWorldThumbnail
      tags:
        - worlds
      summary: Upload world thumbnail
      description: |-
        Upload a thumbnail image for a world.
      security:
        - BearerAuth: []
      parameters:
        - name: world_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200 - OK":
          description: Thumbnail uploaded
          content:
            image/*:
              schema:
                type: string
                format: binary
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"

  # Instance endpoints
  /instances:
    get:
      operationId: searchInstances
      tags:
        - instances
      summary: Search instances
      description: |-
        Search for active instances.
      parameters:
        - name: query
          in: query
          schema:
            type: string
          description: Text query to search instances
        - name: world
          in: query
          schema:
            type: string
          description: World identifier to filter by
        - name: owner
          in: query
          schema:
            type: string
          description: Owner identifier to filter by
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200 - OK":
          description: Instances search completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstanceSearchResult"
    put:
      operationId: createInstance
      tags:
        - instances
      summary: Create instance
      description: |-
        Create a new instance.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInstanceRequest"
      responses:
        "200 - OK":
          description: Instance created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Instance"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFound"

  /instances/{search}:
    get:
      operationId: fetchInstance
      tags:
        - instances
      summary: Get instance
      description: |-
        Retrieve an instance by ID or name (prefix with # for name search).
      parameters:
        - name: search
          in: path
          required: true
          schema:
            type: string
          description: Instance ID or name (use # prefix for name, e.g., #my-instance)
      responses:
        "200 - OK":
          description: Instance retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Instance"
        "404 - NotFound":
          description: Instance not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"

  # Relations endpoints
  /relations/@me/following:
    get:
      operationId: fetchMyFollowing
      tags:
        - relations
      summary: Get users I'm following
      description: |-
        Retrieve the list of users the current user is following.
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 1000
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200 - OK":
          description: Following list retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FollowingListResponse"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"

  /relations/@me/followers:
    get:
      operationId: fetchMyFollowers
      tags:
        - relations
      summary: Get my followers
      description: |-
        Retrieve the list of users following the current user.
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 1000
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200 - OK":
          description: Followers list retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FollowersListResponse"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"

  /relations/{id}/following:
    get:
      operationId: fetchUserFollowing
      tags:
        - relations
      summary: Get users a user is following
      description: |-
        Retrieve the list of users a specific user is following.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: User identifier
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 1000
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200 - OK":
          description: Following list retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  following:
                    type: array
                    items:
                      type: string
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFound"

  /relations/{id}/followers:
    get:
      operationId: fetchUserFollowers
      tags:
        - relations
      summary: Get a user's followers
      description: |-
        Retrieve the list of users following a specific user.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: User identifier
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 1000
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200 - OK":
          description: Followers list retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  followers:
                    type: array
                    items:
                      type: string
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFound"

  /relations/{id}/follow:
    post:
      operationId: followUser
      tags:
        - relations
      summary: Follow a user
      description: |-
        Follow another user.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: User identifier to follow
      responses:
        "200 - OK":
          description: Follow successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Relation"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "404 - UserNotFound":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotFound"
        "409 - AlreadyExists":
          description: Already following this user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlreadyExists"

  /relations/{id}/unfollow:
    post:
      operationId: unfollowUser
      tags:
        - relations
      summary: Unfollow a user
      description: |-
        Unfollow a user.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: User identifier to unfollow
      responses:
        "200 - OK":
          description: Unfollow successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "404 - NotFound":
          description: Relation not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"

  /relations/{id}/request:
    post:
      operationId: handleFollowRequest
      tags:
        - relations
      summary: Accept or reject follow request
      description: |-
        Accept or reject a pending follow request.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: User identifier who sent the request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
              properties:
                type:
                  type: string
                  enum: [accept, reject]
      responses:
        "200 - OK":
          description: Request handled
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    enum: [accepted, rejected]
                  success:
                    type: boolean
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"

  /relations:
    post:
      operationId: createRelation
      tags:
        - relations
      summary: Create relation (server-to-server)
      description: |-
        Create a relation on behalf of a server. Used for federated follow requests.
      security:
        - IntegrityAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - initiator
                - target
              properties:
                type:
                  type: string
                  enum: [follow, unfollow]
                initiator:
                  type: integer
                target:
                  type: integer
      responses:
        "200 - OK":
          description: Relation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RelationResponse"
        "401 - NotLogged":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"

  # Notifications endpoints
  /notifications:
    post:
      operationId: createNotification
      tags:
        - notifications
      summary: Create notification (server-to-server)
      description: |-
        Create notifications for users. Requires challenge authentication.
      security:
        - IntegrityAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNotificationRequest"
      responses:
        "200 - OK":
          description: Notification created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationResponse"
        "401 - NotLogged":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "404 - ServerNotFound":
          description: Server not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerNotFound"

  /users/@me/notifications:
    get:
      operationId: fetchNotifications
      tags:
        - notifications
      summary: Get notifications
      description: |-
        Retrieve notifications for the current user.
      security:
        - BearerAuth: []
      parameters:
        - name: after
          in: query
          required: true
          schema:
            type: string
          description: Timestamp to get notifications after
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 100
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200 - OK":
          description: Notifications retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationListResponse"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"

  # Presence endpoints
  /presence:
    post:
      operationId: updatePresenceByServer
      tags:
        - presence
      summary: Update presence (server-to-server)
      description: |-
        Update presence information for users. Requires challenge authentication.
      security:
        - IntegrityAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PresenceServerRequest"
      responses:
        "200 - OK":
          description: Presence updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401 - NotLogged":
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "404 - ServerNotFound":
          description: Server not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerNotFound"

  /users/@me/presence:
    put:
      operationId: updatePresenceByUser
      tags:
        - presence
      summary: Update my presence
      description: |-
        Update the current user's presence status or location.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/PresenceStatusRequest"
                - $ref: "#/components/schemas/PresenceLocationRequest"
      responses:
        "200 - OK":
          description: Presence updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"

  # Server endpoints
  /server:
    get:
      operationId: getServerInfo
      tags:
        - server
      summary: Get server information
      description: |-
        Get detailed server information including gateways, features, and version.
      responses:
        "200 - OK":
          description: Server info retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerInfo"

  # Relay admin endpoints
  /relays:
    get:
      operationId: listRelays
      tags:
        - relays
      summary: List relays (admin only)
      description: |-
        List all relay servers. Requires admin privileges.
      security:
        - BearerAuth: []
      responses:
        "200 - OK":
          description: Relays list retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RelayInfo"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "401 - UnAuthorized":
          description: Admin privileges required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnAuthorized"

  /relays/{id}:
    get:
      operationId: fetchRelay
      tags:
        - relays
      summary: Get relay (admin only)
      description: |-
        Get detailed relay information. Requires admin privileges.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200 - OK":
          description: Relay retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RelayInfo"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "401 - UnAuthorized":
          description: Admin privileges required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnAuthorized"
        "404 - NotFound":
          description: Relay not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"

  /relays/{id}/logs:
    get:
      operationId: fetchRelayLogs
      tags:
        - relays
      summary: Get relay logs (admin only)
      description: |-
        Get logs from a relay server. Requires admin privileges.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: since
          in: query
          schema:
            type: integer
          description: Timestamp to get logs since
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        "200 - OK":
          description: Logs retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RelayLog"
        "401 - NotLogged":
          description: User not logged in
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotLogged"
        "401 - UnAuthorized":
          description: Admin privileges required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnAuthorized"
        "404 - NotFound":
          description: Relay not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFound"

components:
  schemas:
    Response:
      type: object
      properties:
        data:
          type: object
          description: The main response data
        request:
          type: string
          description: Original request path
          example: "/api/"
        time:
          type: integer
          format: int64
          description: Timestamp of the response in milliseconds
          example: 1750945093437
      required:
        - data
        - request
        - time

    Error:
      type: object
      $ref: "#/components/schemas/Response"
      description: Error response schema
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: Error message describing the issue
              example: "Invalid field: limit, must be between 1 and 100."
            code:
              type: integer
              description: Error code indicating the type of error
              example: 5
            status:
              type: integer
              description: HTTP status code for the error
              example: 400
          required:
            - message
            - code
            - status

    UserNotFound:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          description: Error response when a user is not found
          properties:
            data:
              type: null
              description: Always null for user not found errors
            error:
              type: object
              properties:
                message:
                  type: string
                  description: Error message indicating user not found
                  example: "User not found."
                code:
                  type: integer
                  description: Error code for user not found
                  example: 2
                status:
                  type: integer
                  description: HTTP status code for user not found
                  example: 404
              required:
                - message
                - code
                - status
          required:
            - error
            - data

    NotLogged:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          description: Error response when the user is not logged in
          properties:
            data:
              type: null
              description: Always null for not logged errors
            error:
              type: object
              properties:
                message:
                  type: string
                  description: Error message indicating user is not logged in
                  example: "You are not logged in."
                code:
                  type: integer
                  description: Error code for not logged in
                  example: 7
                status:
                  type: integer
                  description: HTTP status code for not logged in
                  example: 401
              required:
                - message
                - code
                - status
          required:
            - error
            - data

    UnAuthorized:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          description: Error response when the user is not authorized to perform an action
          properties:
            data:
              type: null
              description: Always null for unauthorized errors
            error:
              type: object
              properties:
                message:
                  type: string
                  description: Error message indicating unauthorized access
                  example: "You are not authorized to {0}."
                code:
                  type: integer
                  description: Error code for unauthorized access
                  example: 8
                status:
                  type: integer
                  description: HTTP status code for unauthorized access
                  example: 401
              required:
                - message
                - code
                - status
          required:
            - error
            - data

    AlreadyExists:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          description: Error response when a resource already exists
          properties:
            data:
              type: null
              description: Always null for already exists errors
            error:
              type: object
              properties:
                message:
                  type: string
                  description: Error message indicating the resource already exists
                  example: "{0} already exists with {1}."
                code:
                  type: integer
                  description: Error code for already exists
                  example: 6
                status:
                  type: integer
                  description: HTTP status code for already exists
                  example: 409
              required:
                - message
                - code
                - status
          required:
            - error
            - data

    InvalidField:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          description: Error response when a field is invalid
          properties:
            data:
              type: null
              description: Always null for invalid field errors
            error:
              type: object
              properties:
                message:
                  type: string
                  description: Error message indicating the invalid field
                  example: "Invalid field: {0}, {1}."
                code:
                  type: integer
                  description: Error code for invalid field
                  example: 5
                status:
                  type: integer
                  description: HTTP status code for invalid field
                  example: 400
              required:
                - message
                - code
                - status
          required:
            - error
            - data

    VerificationRequired:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          description: Response when additional verification is required for sensitive changes
          properties:
            data:
              type: object
              description: Verification methods available for the user
              properties:
                methods:
                  type: array
                  description: List of verification methods available for the user
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [totp, email]
                        description: Type of verification method
                      name:
                        type: string
                        description: Name of the verification method
                      description:
                        type: string
                        description: Description of the verification method
                      enabled:
                        type: boolean
                        description: Whether this method is currently enabled for the user
                      can_send:
                        type: boolean
                        description: Whether a verification code can be sent using this method
                    required:
                      - type
                      - name
                      - description
                      - enabled
                      - can_send
                  example:
                    - type: "totp"
                      name: "Authenticator App"
                      description: "Use an authenticator app to generate a verification code"
                      enabled: true
                      can_send: false
                    - type: "email"
                      name: "Email Verification"
                      description: "Receive a verification code via email"
                      enabled: false
                      can_send: true
              required:
                - methods
            error:
              type: object
              properties:
                message:
                  type: string
                  description: Error message indicating verification is required
                  example: "Additional verification required."
                code:
                  type: integer
                  description: Error code for verification required
                  example: 20
                status:
                  type: integer
                  description: HTTP status code for verification required
                  example: 428
          required:
            - error
            - data

    NotFound:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          description: Error response when a resource is not found
          properties:
            data:
              type: null
              description: Always null for not found errors
            error:
              type: object
              properties:
                message:
                  type: string
                  description: Error message indicating the resource was not found
                  example: "Resource not found."
                code:
                  type: integer
[...]
